<<<<<<< HEAD
﻿
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
<div class="container" action="post">
    <h3>Thông tin sản phẩm</h3>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>NameProduct</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.NameProduct</td>
                    <td>@item.Price</td>
                </tr>
            }
        </tbody>
    </table>
    

</div>

=======
﻿@model Product
<h2>Chi tiết sản phẩm</h2>

<p><strong>Id:</strong> @Model.Id</p>
<p><strong>Tên:</strong> @Model.Name</p>
<p><strong>Giá:</strong> @Model.Price.ToString("C")</p>

<a href="@Url.Action("Index", "Product")">Quay lại</a>
>>>>>>> e1d2f840b329d59cb0f7be18a2e9e9669af8599f
